<html>
<head>
  <title><%= title %></title>
</head>
  <body>
    <%= content %>
    <ul>
      <% listData.forEach((item) => {%>
        <li><%= item.name%> -- <%= item.age%></li>
      <% }) %>
    </ul>
    <div><img src='/images/bar@2x.png' /></div>
  </body>
</html>